@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom properties */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 150, 150, 255;
    --background-start-rgb: #f7f7ff ;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Global Styles */
body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb)); 
  font-family: "mouse-300", Arial, Helvetica, sans-serif;
  color: #6A6A6A; /* This overrides the earlier color property */
  
}

/* Custom utility classes */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
